.ProfileCard {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  overflow-x: clip;
  background-color: var(--cardColor);
  width: 100%;
}

/* Profile Images */
.ProfileImages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ProfileImages > img:nth-of-type(1) {
  max-width: 100%;
  max-height: 10rem;
  border-radius: 60%;
}

.ProfileImages > img:nth-of-type(2) {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  bottom: -3rem;
  box-shadow: var(--profileShadow);
}

/* Profile Name */
.ProfileName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 10px;
}

.ProfileName > span:nth-of-type(1) {
  font-weight: bold;
}

/* Follow Status */
.followStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.followStatus > hr {
  width: 85%;
  border: 1px solid var(--hrColor);
}

.followStatus > div {
  display: flex;
  gap: 1rem;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.follow {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.follow > span:nth-of-type(1) {
  font-weight: bold;
}

.follow > span:nth-of-type(2) {
  color: var(--gray);
  font-size: 13px;
}

.vl {
  height: 150%;
  border-left: 2px solid var(--hrColor);
}

.ProfileCard > span {
  font-weight: bold;
  color: orange;
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .ProfileImages > img:nth-of-type(2) {
    width: 5rem; /* Adjust profile image size for medium screens */
    height: 5rem;
    bottom: -2.5rem;
  }
}

@media (max-width: 992px) {
  .ProfileImages > img:nth-of-type(2) {
    width: 4rem; /* Adjust profile image size for smaller screens */
    height: 4rem;
    bottom: -2rem;
  }
}

@media (max-width: 768px) {
  .ProfileCard {
    gap: 0.5rem; /* Adjust gap between sections for tablets */
  }

  .ProfileImages > img:nth-of-type(2) {
    width: 3rem; /* Adjust profile image size for tablets */
    height: 3rem;
    bottom: -1.5rem;
  }
}

@media (max-width: 576px) {
  .ProfileCard {
    gap: 0.3rem; /* Adjust gap between sections for mobile devices */
  }

  .ProfileImages > img:nth-of-type(2) {
    display: none; /* Hide smaller profile image for mobile devices */
  }
}
